@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@1,500;1,700&display=swap');

body {
    /* font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif; */
    /* min-width: 350px; */
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }
  

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* .css-8je8zh-MuiTouchRipple-root{
  background-color: blue;
} */

